.container {
    background-color: #fff;
    color: #2d3142;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centeredContainer {
    background-color: #fff;
    color: #2d3142;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%
}

.resultContainer {
    background-color: #fff;
    color: #2d3142;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Gloock';
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Gloock';
}

.contentText {
    line-height: 2rem;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonText {
    font-family: 'Gloock';
    font-size: 18px;
}

.largeButtonText {
    font-family: 'Gloock';
    font-size: 24px;
}

.content {
    margin-bottom: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column; /* Changed from row to column */
    align-items: center; /* To center align children vertically */
    width: 100%;
}

.inputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

.backNavigator {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Gloock';
    font-size: 10px;
    cursor: pointer;
}

.urlInput {
    padding: 1rem;
    border-radius: 10px;
    border-color: #e8e8e8;
    margin-bottom: 1rem; 
    font-family: 'Gloock';
    background-color: #FFFFFF;
    font-size: 18px;
    color: #2d3142;
    outline: 0;
    width: 80%; 
    max-width: 700px; 
    min-height: 300px; 
    resize: vertical; 
}


.urlInput::placeholder {
    font-family: 'Gloock';
    color: #9b9b9b;
    font-size: 18px;
}

.urlInput:focus {
    box-shadow: 0 0 5px 2px #EF8254; /* This adds the orange glow */
}

.tabContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.tabContainer button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #ebebeb;
    margin: 0 0.5rem;
    transition: background-color 0.3s;
    font-size: 18px;
    font-weight: 500;
    font-family: "Gloock";
}

.tabContainer button.activeTab {
    background-color: #EF8254;
    color: #fff;
}


.customizedInputContainer {
    border-style: solid;
    border-width: 2px;
    border-color: #ebebeb;
    border-radius: 10px;
    font-family: 'Gloock';
    font-size: 16px;
    padding: 10px 0px;
    width: 70%;
    max-width: 700px;
    min-width: 350px;
}


.customizedInputBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 20px;
}

.customizedInput {
    padding: 15px 10px;
    border-radius: 10px;
    margin-left: 50px;
    font-family: 'Gloock';
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    font-size: 16px;
    font-family: 'Gloock';
    color: #2d3142;
    outline: 0;
    width: 300px;
    align-self: center;
}

.disabledNavigateButton {
    /* Add styles to make the button appear as desired */
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #ebebeb;
    color: #757575;
    cursor: not-allowed;
}

.navigateButton {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #EF8254;
    color: #fff;
    cursor: pointer;
}

.largeButton {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: #EF8254;
    color: #fff;
    cursor: pointer;
}

.noDisplay {
    display: none
}

.loginButton {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: #EF8254;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Gloock';
}

.result {
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

.shownotesList {
    list-style: none;
    padding-left: 0;
    margin-top: 2rem;
}

.shownotesText {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subsectionContainerFlexStart {
    margin-top: 1rem;
    text-align: initial;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: flex-start;
}

.subsectionContainer {
    margin-top: 1rem;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #EF8254; /* You can change the color here */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.errorMessage {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 5px;
}


.previewBoxesContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.previewContainer {
    border-width: 2px;
    border-color: #ebebeb;
    height: 250px;
    width: 400px;
    border-style: solid;
    border-radius: 20px;
    margin: 20px;    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    font-family: 'Gloock';
}

.previewContainer:hover {
    background-color: #ebebeb;
}

.generatingText {
    margin-bottom: 0px;
}

.audioPlayer {
    margin-top: -60px
}

.profilePic {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.profilePicContainer {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.profileDetailBox {
    background-color: #ebebeb;
    font-family: 'Gloock';
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    margin-top: 55px;
}

.userName {
    margin-top: 10px;
    color: #2d3142;
}

.signoutButton {
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #2d3142;
    font-family: 'Gloock';
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
    font-family: 'Gloock';
}

.shownotesTextNew {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
}

.customizeSettingButton {
    border-radius: 10px;
    border: none;
    color: #757575;
    width: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 250px;
}

.buttons-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 1rem; /* Space between buttons */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

